@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Covers */
header#inicio{
    background: linear-gradient(rgba(0,0,0,.2) 0% , rgba(0,0,0,.1) 100% ) , url(../multimedia/images/index-cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header#museo{background-image: url(../multimedia/images/museo-cover.jpg);background-position: center;}
header#trivia-cover{background-image: url(../multimedia/images/trivia-cover.jpg);background-position: top;}
header#info{background-image: url(../multimedia/images/info-cover.jpg);background-position: bottom;}
header#galeria{
    background: linear-gradient(rgba(0,0,0,.5) 0% , rgba(0,0,0,.5) 100% ) ,url(../multimedia/images/galeria-cover.png);background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
header#contacto{
    background: linear-gradient(rgba(0,0,0,.3) 0% , rgba(0,0,0,.1) 100% ) , url(../multimedia/images/contacto-cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

#museo-rijksmuseum{
    background: linear-gradient(rgba(0,0,0,.1) 0% , rgba(0,0,0,.1) 100% ) , url(../multimedia/images/museos/rijksmuseum/rijksmuseum.jpg);
    background-repeat: no-repeat; 
    background-position: center center;
    background-size: cover;
}

#museo-stedelijk{
    background: linear-gradient(rgba(0,0,0,.1) 0% , rgba(0,0,0,.1) 100% ) , url(../multimedia/images/museos/stedelijk/De_nieuwe_vleugel_van_het_Stedelijk_Museum_Amsterdam.jpg);
    background-repeat: no-repeat; 
    background-position: bottom;
    background-size: cover;
    }
#museo-vangogh{background-image: url(../multimedia/images/museos/van-gogh/museum-cover.jpg);background-position: center;}
#museo-anafrank{background-image: url(../multimedia/images/museos/ana-frank/ana-frank-cover.jpg);background-position: center;}
#museo-nemo{background-image: url(../multimedia/images/museos/nemo/gebouwnemo-digidaan-juli2016.jpg);background-position: center;}
#museo-rembrendthuis{background-image: url(../multimedia/images/museos/rembrandthuis/rembrandt-cover.jpg);}

/* Header styles */
header.cover{
    min-height: 75vh;
    max-height: 75vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 200px 0 0 0;
    background-color: aliceblue;
}

header aside{
    color: #1f1f1f;
    background-color: #FFF;
    left: 8%;
    top: 250px;
    padding: 2em;
    z-index: 9999;
    min-width: 350px;
    max-width: 420px;
}

header aside a{
    padding: 20px 90px; 
    background-color: #1f1f1f;
    color: #FFF;
    font-size: 1.2em;
    }

header aside a:hover{color: #FFF;background-color: #FFF;border: 1px solid #FFF; letter-spacing: .05em; transition: 2s;}

h1,h2,h3,h4,h5{
    font-family: 'Cinzel', serif;
    padding: 15px;
}

p{font-weight: lighter;}
p::first-letter{font-family: 'Cinzel', serif;font-size: 1.3em;}

header ul{
    text-align: center;
    font-size: 1.2em;
    line-height: 2em;
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    letter-spacing: .15em;
}

header a , footer a{text-decoration: none;list-style: none; color: #fff;}

header nav li:hover{
    background-color: rgba(0, 0, 0, .5);
    transition: 1s;
    color: #fff;
}

/* Main styles */
main{margin: auto;width: 100%;}

main .imagen-main img{
    width: 100%;
    padding: 10px;
    min-width: 250px;
    max-width: 250px;
}

main .img-muestra{width: 50%;}

main .texto p{
    font-size: 1.1em;
}

main .btn-start{
    color: white;
    font-size: 1.3em;
    background-color: #1f1f1f;
    position: fixed;
    padding: 18px;
    top: 80%;
    left: 94.5%;
}

main .btn-start:hover{
    color: #1f1f1f;
    background-color: #fff;
    border: 1px solid #1f1f1f;
    transition: 1s;
}

main .btn{
    border-radius: 0px;
    font-family: 'Cinzel', serif;
}

main #newsletter{
    background-color: #1f1f1f;
    color: #FFF;
}
main #newsletter #email{width: 300px;}


/* Galeria de museos styles */
.carrusel .flecha-izq, .carrusel .flecha-der{
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    top: calc(50% - 35px);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    background: none;
    color: #FFF;
    opacity: 20%;
    z-index: 999;
}

.carrusel .flecha-izq:hover, .carrusel .flecha-der:hover{
    opacity: .5;
}

.carrusel .flecha-izq{
    left: -30px;
}

.carrusel .flecha-der{
    right: -30px;
}

.carrusel-contenedor{overflow: hidden;}

.indicadores .glider-dot{
    display: block;
    width: 30px;
    height: 4px;
    background: rgb(197, 197, 197);
    opacity: .9;
    border-radius: 0;
}

.carrusel .carrusel-elemento img{
    width: 600px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;}

#rijks .indicadores .glider-dot.active{background-color: #31847E;}
#stedelijk .indicadores .glider-dot.active{background-color: #94bcc0;}
#vangogh .indicadores .glider-dot.active{background-color: #f6b445;}
#anafrank .indicadores .glider-dot.active{background-color: #0f242d;}
#nemo .indicadores .glider-dot.active{background-color: #92c320;}
#rembrendthuis .indicadores .glider-dot.active{background-color:#fc3b4c ;}



/* Galeria */
#galeria img{
    width: 300px;
    height: 200px;
    margin: 10px 0;
    object-fit: cover;
    filter: brightness(50%);
    cursor: pointer;
}


#galeria img:hover{
    filter: brightness(100%);
    transition: 1s;
}

#galeria img:not(:hover){
    filter: brightness(50%);
    transition: 1s;
}


/*Footer styles*/
footer{
    background-color: #1f1f1f;
    margin: 40px 0 0 0;
    height: 60px;
}

footer ul{margin: auto;padding: 0;}

footer ul li{
    list-style: none;
    line-height: 1.4em;
    font-size: .8em;
    margin: 10px 20px;
}

footer ul li a{border: 1px solid #1f1f1f; padding: 3px;}
footer ul li a:hover{border-bottom:1px solid #FFF; color: #FFF;}

/* Juego en JS */
#trivia ul li{list-style: none;}
#trivia #juego{border: 1px solid red;}
#trivia #respuestas li button{
    margin: 10px;
    width: 40%;
    border: none;
    padding: .5em;
    }
#trivia .imagen img{
    width: 80%;
    object-fit: contain;
    height: 300px;
}
#comenzar {
    background-color: #1f1f1f;
    color: white;
    border: none;
    margin: 7em;
}


/*Clases de Js*/
.container-img{
    position: fixed;
    height: 100vh;
    width: 100%;
    top : 0;
    left: 0;
    transform: translateX(-150%);
    background-color: rgba(0, 0, 0, 0.0);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: transform .2s ease-in;
    z-index: 999;
}

.img-show{
    width: 50%;
    display: block;
    object-fit: cover;
}

.mostrar{
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0.9);
}


/*Media Query*/
@media only screen and (max-width: 600px) { 
    .index-img2{width: 100% !important;}
    header aside{scale: .9; left: 0; top: 300px;}
    main .img-muestra{width: 100%;}
    main #newsletter #email{width: 142px;}
    .carrusel .flecha-izq{left: -5px;}
    .carrusel .flecha-der{right: -5px;}
    .img-show{width: 80%;}
    footer ul li{font-size: .6em; margin: 10px 10px;}
  }